@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #87759e9f;
}
h1 {
    color: white;
    text-align: center;
    font-size: 4.5em;
}
*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(236, 234, 234, 0.411) 0px 2px 10px 0px,
      rgba(41, 39, 39, 0.616) 0px 2px 25px 0px;
  }


.list {

    margin: 25px auto;
    color: rgba(255, 255, 255, 0.863);
    padding: 1em;
    width: 100%;
    max-width: 300px;
    background: radial-gradient(#f588d8, #c0a3e5);
    
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border-color: rgba(238, 152, 188, 0.781);
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}
.orderButton {
    font-weight: 600;
    color: #fffafa;
    text-transform: uppercase;
    padding: 0.5em 0.5em;
    background: #97202056;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    font-size: 1em;
}


.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}
